
body{
	margin: 0;
	padding: 0;
}

header{
	padding: 20px 0;
}

.container{
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}

.logo{
	width: 17%;
	float: left;
}
.logo a{
	display: block;
}
.logo a img{
	width: 100%;
}

.menu{

	margin-top: 5px;
	width: 77%;
	float: right;
}
.menu ul{

	float: right;
}
.menu ul li{

	float: left;
	list-style: none;
}
.menu ul li a {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #121212;
	text-decoration: none;
	display: block;
	padding: 0 15px;
}
.menu ul li a:hover{
	color: #BE2341;
}
.menu ul li:last-child a{
	padding-right: 0;
}

